syntax: glob

config.h
config.mk
bin/dulge-alternatives/dulge-alternatives
bin/dulge-create/dulge-create
bin/dulge-dgraph/dulge-dgraph
bin/dulge-fbulk/dulge-fbulk
bin/dulge-install/dulge-install
bin/dulge-pkgdb/dulge-pkgdb
bin/dulge-query/dulge-query
bin/dulge-reconfigure/dulge-reconfigure
bin/dulge-remove/dulge-remove
bin/dulge-rindex/dulge-rindex
bin/dulge-uhelper/dulge-uhelper
bin/dulge-uchroot/dulge-uchroot
bin/dulge-checkvers/dulge-checkvers
bin/dulge-uunshare/dulge-uunshare
bin/dulge-digest/dulge-digest
bin/dulge-fetch/dulge-fetch
*.static
*.so*
*.o
*.a
*.xml
*.png
*.pc
api/
doc/dulge_api_doxyfile
ftperr.h
httperr.h
tests/*/*/*/*_test
tests/*/*/*/*_tests
tests/*/*/*_test
tests/*/*/*_tests
include/dulge.h

# vim backup files
.*.swp
*~
